<%- include('header'); -%>
<style>
  .dataTables_wrapper label{
    display: inline-block;
    margin-bottom: 0.5rem;
    color: white;
  }
  .dataTables_wrapper{
    width: 100%;
  }
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #fff;
  }
  .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    color: white;
    padding: 5px;
    background-color: transparent;
    margin-left: 3px;
  }
  .stat{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .stat>div{
    background: #e75b1e;
    margin-left: 15px;
    border-radius: 15px;
    color: white;
    padding: 17px;
  }
</style>
<section class="ftco-section" style="padding: 0;">
  <div class="container">
    <p style="margin-top: 3rem;font-size: 19px;color: white;">Bienvenue, <%= user %></p>
    <div class="row" style="width: 100%;padding: 5rem;">
      <table  id="tableResto2" class="display table table-hover table-checkable order-column m-t-20 width-per-100" style="width: 100%;">
          <thead>
              <tr>
                  <th>Cmd</th>
                  <th>Adresse de livraison</th>
                  <th>Restaurant</th>
                  <th>Date et heure preparation</th>
                  <th>Livreur</th>
                  <th>Date et heure enlèvement</th>
                  <th>Etat</th>
                  <th>Enregistrée le</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody class="tableupdatedlivreur">
            <% if(cmds.length > 0){ %>
              <% cmds.forEach((cmd)=>{ %>
                <tr>
                    <td><%= cmd.id_cmd %></td>
                    <td><%= cmd.commune %>, <%= cmd.code_postal %></td>
                    <td><%= restos.filter( champ => champ.id == cmd.resto )[0].nom %></td>
                    <td><%= cmd.preparedat %></td>
                    <td> - </td>
                    <td><%= cmd.preparedat %></td>
                    <td>
                      <%= cmd.status %>
                    </td>
                    <td><%= cmd.createdat %></td>
                    <td>
                        <a href="#" attr-id="<%= cmd.id_cmd %>" class="btn btn-tbl-edit">
                          Livrer
                        </a>
                    </td>
                </tr>
              <% }) %> 
            <% } %> 
          </tbody>
      </table>
    </div>
  </div>
  <div id="livreur-map" style="width:100%; height:600px;margin-top: 4rem;">

  </div>
</section>
<%- include('footer') -%>